*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background-image: url(https://cdn.pixabay.com/photo/2017/11/26/15/16/smiley-2979107_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#joke{
    text-align: center;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
   
}

.btn{
    margin-bottom: 50px;
    margin-top: 15px;
  cursor: pointer;
   width: 100px;
   height: 30px;
   font-size: 1.2rem;
   
}
.btn:hover{
    background-color: blue;
    color: white;
}
a{
   list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
}